@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font1: 'Poppins', cursive, sans-serif;
    --primary-color: blueviolet;
    --secondary-color: darkviolet;
    --text-color: white;
    --background-color: black;
    --transition: .2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

/* Cabeçalho e logo */
.interface {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
}

header {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
}

header .logo img {
    width: 100px;
    height: auto;
    padding: 8px 0;
}

/* Estilos do campo de pesquisa */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px 0;
}

.search input {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search button {
    background-color: blueviolet;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.search button i {
    color: white;
    font-size: 16px;
}

nav {
    width: 100%;
}

.nav-menu {
    background-color: blueviolet;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    z-index: 999;
    flex-wrap: wrap;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: var(--transition);
}

.nav-menu a:hover {
    display: inline-block;
    transform: scale(1.07);
    transition: .2s;
    letter-spacing: 2px;
}

.hamburger-menu {
    display: none;
}

.actions {
    position: absolute;
    top: 30px;
    right: 20px;
    display: flex;
    gap: 5px;
}

.cadastro, .cart {
    background-color: var(--primary-color);
    padding: 8px 18px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: var(--transition);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.cadastro a, .cart a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 24px;
}

.cadastro a:hover, .cart a:hover {
    transform: scale(1.07);
}

/* Contêiner do banner */
.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
  /* Estilo para cada banner */
.banner {
    display: none; 
    width: 100%;
}
  
.banner img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
  
  /* Apenas o banner ativo será exibido */
.banner.active {
    display: block;
}
  
  /* Estilo das setas de navegação */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 999;
}
  
.arrow.left {
    left: 10px;
}
  
.arrow.right {
    right: 10px;
}

.voltar-menu {
    margin: 8px 0;
    text-align: left;
}
  
.btn-voltar {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    padding: 8px 16px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.btn-voltar:hover {
    background-color: darkviolet;
}
  
/* Categorias */
.categorias {
    margin: 20px 0;
    text-align: center;
}

.cate ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.cate button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}

.cate button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.07);
}

/* Produtos */
.produtos {
    margin: 40px 0;
    text-align: center;
}

.produtos-container {
    position: relative;
    display: flex;
    align-items: center;
}

.produtos h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #8159868c;
}

.produtos-lista {
    display: flex;
    gap: 10px;
    overflow: hidden;  /* Esconde a rolagem */
    width: 100%; /* Define a largura máxima do container */
}

.produto-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: var(--transition);
    width: 45%;  /* Ajuste o tamanho conforme necessário */
    padding: 7px;
    margin: 0; /* Remover a margem para os cards ficarem alinhados no scroll */
}

.scroll-left, .scroll-right {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.scroll-left:hover, .scroll-right:hover {
    color: #6c63ff; /* Mudar a cor na interação */
}


/* Adiciona um estilo de rolagem (opcional) */
.produtos-lista::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem */
}

.produtos-lista::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.produto-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.produto-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto-card h3 {
    color: rgb(97, 97, 97);
    font-size: 18px;
    margin: 10px 0;
}

.produto-card .preco {
    font-size: 17px;
    font-weight: bold;
    color: #3ff153;
    margin: 10px 0;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.388);
}

.produto-card .desconto {
    font-size: 13px;
    font-weight: bold;
    color: #737573;
    margin: 10px 0;
}

.produto-card button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: var(--transition);
}

.produto-card button:hover {
    background-color: var(--secondary-color);
}

/* Estilo da área de login */

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #000000;
}
  
.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #c615fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}
  
.login-form {
    display: flex;
    flex-direction: column;
}
  
.login-form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
}
  
.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
  
.login-form input:focus {
    border-color: #6c63ff;
    outline: none;
}
  
.login-button {
    padding: 10px 20px;
    background-color: #6a0dad;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.login-button:hover {
    background-color: #5a54e2;
}
  
.cadastro-link {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}
  
.cadastro-link a {
    color: #a100f7;
    text-decoration: none;
}
  
.cadastro-link a:hover {
    text-decoration: underline;
}
  

/* Rodapé */
footer {
    background-color: #815986;
    color: var(--text-color);
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-info,
.footer-social {
    flex: 1; 
    min-width: 300px;
}

.footer-info {
    text-align: left;
    font-style: italic;
}

.footer-social {
    text-align: right;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.social-icon {
    font-size: 30px;
    color: var(--text-color);
    transition: var(--transition);
}

.social-icon:hover {
    transform: scale(1.1);
}

@media (max-width: 430px) {

    .hamburger-menu i {
        font-size: 30px;
        margin-left: 10px;
        display: block;
    }

    nav {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px 20px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-menu.active {
        display: block;
    }

    .hamburger-menu {
        display: flex;
    }

    .cadastro, .cart {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        padding: 13px;
    }

    .cadastro a, .cart a {
        font-size: 15px;
    }

    .search input { 
        width: 70%;
    }

    .search {
        margin: 10px 0;
        width: 100%;
    }
    
    .search button {
        padding: 10px 18px;
    }

    .categorias {
        padding: 9px;
    }
    
    .cate ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .cate ul li {
        flex: 1 1 45%;
        text-align: center;
        margin: 5px;
    }
    
    .cate button {
        width: 100%;
        padding: 9px 0;
        font-size: 15px;
        background-color: #6a0dad;
        color: white;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }

    .cate button:hover {
        background-color: #5a009d;
    }

    .login-section {
        margin-top: 8px; /* Ajuste a margem superior do login */
    }

    .produtos {
        margin-bottom: 8px;
    }

    .produtos h2 {
        font-size: 18px;
        margin-top: 4px;
        padding: 4px;
        line-height: 1.2;
    }

    .produtos-lista {
        display: flex; /* Alinha os produtos na horizontal */
        overflow-x: scroll; /* Permite a rolagem horizontal */
        gap: 16px; /* Espaço entre os cards */
        padding-bottom: 16px; /* Espaço para a barra de rolagem */
        scroll-snap-type: x mandatory; /* Impede que a rolagem seja aleatória, fazendo os produtos se "encaixarem" ao rolar */
        -ms-overflow-style: none;  /* Desativa a barra de rolagem no Internet Explorer */
        scrollbar-width: none; /* Remove a barra de rolagem no Firefox */
        /* Esconde a barra de rolagem para todos os navegadores modernos */
        ::-webkit-scrollbar {
            display: none; 
        }
    }

    .produto-card {
        flex: 0 0 90%; /* No celular, ocupa 90% da largura */
    }

    .produto-card img {
        border-radius: 5px;
        width: 100%; /* Faz a imagem ocupar toda a largura do card */
        height: auto;
    }

    .produto-card h3 {
        font-size: 14px;
        line-height: 1.3;
    }

    .produto-card .preco {
        font-size: 12px;
        line-height: 1;
    }

    .produto-card button {
        padding: 4px 8px; /* Diminui o botão */
        font-size: 12px; 
    }


    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info,
    .footer-social {
        text-align: center;
        flex: 1;
    }

    .social-icons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav {
        position: relative;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5px;
        right: 0;
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-menu ul li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }

    .nav-menu ul li a:hover {
        color: #6a0dad;
    }

    .nav-menu.active {
        display: flex;
    }

    .produtos-lista {
        overflow-x: auto;
    }
    
    .produto-card {
        flex: 0 0 45%; /* Ocupa 45% da largura */
    }

}

@media (min-width: 769px) {
    .hamburger-menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: #6a0dad;
        box-shadow: none;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-menu ul li {
        margin: 0 15px;
    }

    .nav-menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }

    .nav-menu ul li a:hover {
        color: #6a0dad;
    }
}
